version: "3.9"

services:
  backend:
    build: ./Backend
    container_name: go-backend
    ports:
      - "3080:3080"
    networks:
      - app-network
  frontend:
    build: ./Frontend
    container_name: react-app
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    drive: bridge